<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявки</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1>Заявки</h1>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Вид мусора</th>
                <th scope="col">Исполнитель</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Плановая дата вывоза</th>
                <th scope="col">Вес</th>
                <th scope="col">В работе</th>
                <th scope="col">Выполнен</th>
                <th scope="col">Действия</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}">
                <td>
                    <a class="text-link text-blue" th:href="'/wastes/' + ${order.getWasteId()}"
                       th:text="${(wasteService.getOne(order.getWasteId())).getTitle()}"></a>
                </td>
                <td>
                    <a class="text-link text-blue" th:href="'/points/' + ${order.getPointId()}"
                       th:text="${(pointService.getOne(order.getPointId())).getTitle()}"></a>
                </td>
                <td>
                    <a class="text-link text-blue" th:href="'/users/forAgent/' + ${order.getUserId()}"
                       th:text="${(userService.getOne(order.getUserId())).getFirstName()}"></a>
                </td>
                <td th:text="${order.getOnDate()}"></td>
                <td th:text="${order.getWeight()}"></td>
                <td th:text="${order.getIsInWork()} ? 'Да' : 'Нет'"></td>
                <td th:text="${order.getIsCompleted()} ? 'Да' : 'Нет'"></td>
                <td>
                    <a sec:authorize="isAuthenticated() && (hasRole('AGENT'))"
                       th:if="${!order.getIsCompleted() && !order.getIsInWork()}"
                       th:href="'/order/accept-order/' + ${order.getId()}"
                       class="btn btn-primary"
                       role="button"
                       aria-disabled="true">Принять заказ</a>
                </td>
                <td>
                    <a sec:authorize="isAuthenticated() && (hasRole('AGENT'))"
                       th:if="${!order.getIsCompleted() && order.getIsInWork()}"
                       th:href="'/order/complete-order/' + ${order.getId()}"
                       class="btn btn-success"
                       role="button"
                       aria-disabled="true">Выполнен</a>
                </td>
                <td>
                    <a sec:authorize="isAuthenticated() && (hasRole('AGENT'))"
                       th:if="${!order.getIsCompleted()}"
                       th:href="'/order/cancel-order/' + ${order.getId()}"
                       class="btn btn-secondary"
                       role="button"
                       aria-disabled="true">Отменить заказ</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button sec:authorize="isAuthenticated() && (hasRole('ADMIN'))" type="button" class="btn btn-secondary"
                onclick="window.history.back()">Назад
        </button>
    </div>

    <nav aria-label="Pagination" th:if="${orders.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${orders.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="'/order/agent-orders/' + ${#authentication.getPrincipal().getUserId()} + '?page=' + ${orders.number lt 2 ? 1 : orders.number}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, orders.totalPages, 1)}"
                th:classappend="${i eq orders.number + 1} ? 'active'">
                <a class="page-link" th:href="'/order/agent-orders/' + ${#authentication.getPrincipal().getUserId()} + '?page=' + ${i}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${orders.number eq orders.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="'/order/agent-orders/' + ${#authentication.getPrincipal().getUserId()} + '?page=' + ${orders.number + 2}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
