<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить пункт приёма к виду мусора</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Добавить пункт приёма к виду мусора: ' + ${waste}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/wastes/add-point}"
          th:object="${wastePointForm}">
        <input type="hidden" name="wasteId" th:value="${wasteId}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="pointId" id="title" required>
                        <option selected th:value="${null}">Выберете пункт приёма</option>
                        <option
                                th:each="point : ${points}"
                                th:value="${point.getId()}"
                                th:text="${point.getTitle()}">
                        </option>
                    </select>
                    <label for="title">Название пункта</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>