<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить вид мусора к пункту приёма</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Добавить вид мусора к пункту приёма: ' + ${point}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/points/add-waste}"
          th:object="${pointWasteForm}">
        <input type="hidden" name="pointId" th:value="${pointId}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="pointId" id="pointTitle" required>
                        <option selected th:value="${null}">Выберете пункт приёма</option>
                        <option
                                th:each="waste : ${wastes}"
                                th:value="${waste.getId()}"
                                th:text="${waste.getTitle()}">
                        </option>
                    </select>
                    <label for="pointTitle">Название пункта</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>