<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Пункты приёма</title>
    <script th:inline="javascript">
        let flag = [[${exception}]];//переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск пункта приёма</h3>
        <form method="POST" th:action="@{/points/search}" th:object="${pointSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="title" type="text" class="form-control" id="title" placeholder="Название">
                        <label for="title">Название</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="city" type="text" class="form-control" id="city" placeholder="Город">
                        <label for="city">Город</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="address" type="text" class="form-control" id="address" placeholder="Адрес">
                        <label for="address">Адрес</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все пункты приёма</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))"
                   th:href="@{/points/add}"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить пункт приёма</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Город</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Режим работы</th>
                    <th scope="col">Принимаемые виды мусора</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="point : ${points}">
                    <td>
                        <a class="text-link text-blue" th:href="'/points/' + ${point.getId()}"
                           th:text="${point.getTitle()}"></a>
                    </td>
                    <td th:text="${point.getCity}"></td>
                    <td th:text="${point.getAddress()}"></td>
                    <td th:text="${point.getPhone()}"></td>
                    <td th:text="${point.getWorkingTime()}"></td>
                    <td>
                        <ul>
                            <li th:each="waste : ${point.getWastes()}" th:text="${waste.getTitle()}"></li>
                        </ul>
                    </td>
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))">
                            <a class="btn btn-sm btn-outline-success"
                               th:href="'/points/update/' + ${point.id}">Обновить</a>
                            <a th:if="${!point.getIsDeleted()}" class="btn btn-sm btn-outline-danger"
                               th:href="'/points/delete/' + ${point.id}"
                               onclick="return confirm('Вы действительно хотите удалить этот пункт приёма?')">Удалить</a>
                            <a th:if="${point.getIsDeleted()}" class="btn btn-sm btn-outline-warning"
                               th:href="'/points/restore/' + ${point.getId()}">Восстановить</a>
                        </div>
                        <a th:if="${point.getWastes() != null && point.getWastes().size() > 0}"
                           sec:authorize="hasRole('USER')" class="btn btn-sm btn-outline-success"
                           th:href="'/order/fromPoint/' + ${point.id}">Создать заказ</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--Модальное окно для ошибок старт-->
        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Модальное окно для ошибок конец-->
        <div>
            <nav aria-label="Pagination" th:if="${points.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${points.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/points?page={id}(id=${points.number lt 2 ? 1 : points.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq points.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, points.totalPages, 1)}">
                        <a class="page-link" th:href="@{/points?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${points.number eq points.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/points?page={id}(id=${points.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>